<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="foster" connectionString="DRIVER={IBM INFORMIX ODBC DRIVER}; HOST=ether; SERVER=ether; SERVICE=3825; PROTOCOL=sesoctcp; UID=ssfactor; PWD=menus; DATABASE=/factor/foster/factor" providerName="INFORMIX"/>
    <add name="papco" connectionString="DRIVER={IBM INFORMIX ODBC DRIVER}; HOST=ether; SERVER=ether; SERVICE=3825; PROTOCOL=sesoctcp; UID=ssfactor; PWD=menus; DATABASE=/factor/papco/factor" providerName="INFORMIX"/>
  </connectionStrings>
</configuration>